In [33]:
import pandas as pd 
from sklearn.model_selection import train_test_split

# Data Import and Split

In [34]:
df_to_models = pd.read_csv(r'../data/to_models.csv', index_col=0)
y = pd.read_csv(r'../data/y.csv', index_col=0)

In [35]:
# creating train/val and test dataframes 
X_train_val, X_test, y_train_val, y_test = train_test_split(df_to_models, 
                                                    y, 
                                                    test_size=0.2, 
                                                    random_state=15, 
                                                    shuffle=True, 
                                                    stratify=y
                                                   )

# creating train and val 
X_train, X_val, y_train, y_val = train_test_split(X_train_val,
                                                  y_train_val,
                                                  test_size = 0.25,
                                                  random_state = 15,
                                                  shuffle=True,
                                                  stratify=y_train_val
)

In [36]:
print('train:{}% | validation:{}% | test:{}%'.format(round(len(y_train)/len(y),2),
                                                     round(len(y_val)/len(y),2),
                                                     round(len(y_test)/len(y),2)
                                                    ))

train:0.6% | validation:0.2% | test:0.2%

## Logistic Regression

In [37]:
X_train

,ADR,BookingChanges,DaysInWaitingList,LeadTime,PreviousBookingsNotCanceled,PreviousCancellations,StaysInWeekendNights,StaysInWeekNights,TotalOfSpecialRequests,x0_1,...,x11_avg_booker,x11_bin_booker,x11_good_booker,x11_low_booker,x11_no_booker,x11_super_booker,x12_Autumn,x12_Spring,x12_Summer,x12_Winter
73979,125.10,0,0,61,0,0,2,3,0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
20407,96.00,0,0,54,0,0,1,2,1,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
69810,225.00,0,0,13,0,0,2,0,1,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
57732,275.00,2,0,0,0,0,0,1,0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
38894,66.00,0,0,3,7,0,0,1,0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47681,119.00,0,0,3,0,0,1,0,2,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
10454,99.45,0,0,121,0,0,1,3,1,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
57684,159.00,0,0,5,0,0,1,0,1,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
66147,89.00,0,0,2,1,0,0,1,2,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
46527,106.53,0,0,47,0,0,2,4,2,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0